In [97]:
import numpy as np
import pandas as pd
import numpy as np
np.random.seed(0)  # Set a specific seed value

In [98]:
df = pd.read_csv('../hpc.csv')

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [100]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [101]:
df.tail()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
14615,6762830250,42734,2,1.5,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.0,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.0,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.0,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.0,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [102]:
df.shape

(14620, 23)

In [103]:
df = df.drop(['Lattitude','Longitude'],axis=1)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  living_area_renov                      14620 non-null  int64
 17  lot_area_renov                         14620 non-null  int64
 18  Number of schools nearby               14620 non-null  int64
 19  Distance from the airport              14620 non-null  int64
 20  Price                                  14620 non-null  int64
dtypes: float64(2), int64(19)
memory usage: 2.3 MB

In [105]:
df.sample(n=2)

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
5670,6762828502,42574,3,2.5,1440,3800,2.0,0,0,3,...,1440,0,2005,0,122024,1890,3819,1,62,269000
12050,6762811098,42680,4,3.5,4270,12305,2.0,0,2,3,...,4270,0,1994,0,122027,4190,13137,2,76,1160000

In [106]:
 df['waterfront present'].nunique()

2

In [107]:
x= df.drop(['id','Price'],axis=1)

In [108]:
x.head()

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport
0,42491,5,2.50,3650,9050,2.0,0,4,5,10,3370,280,1921,0,122003,2880,5400,2,58
1,42491,4,2.50,2920,4000,1.5,0,0,5,8,1910,1010,1909,0,122004,2470,4000,2,51
2,42491,5,2.75,2910,9480,1.5,0,0,3,8,2910,0,1939,0,122004,2940,6600,1,53
3,42491,4,2.50,3310,42998,2.0,0,0,3,9,3310,0,2001,0,122005,3350,42847,3,76
4,42491,3,2.00,2710,4500,1.5,0,0,4,8,1880,830,1929,0,122006,2060,4500,1,51

In [109]:
y = df['Price']

In [110]:
y.head()

0    2380000
1    1400000
2    1200000
3     838000
4     805000
Name: Price, dtype: int64

In [111]:
from sklearn.model_selection import train_test_split

In [112]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [113]:
x_train.shape

(10234, 19)

In [114]:
x_test.shape

(4386, 19)

In [115]:
y_train.shape

(10234,)

In [116]:
y_test.shape

(4386,)

In [117]:
# from sklearn.tree import DecisionTreeClassifier

In [118]:
# model = DecisionTreeClassifier()

In [119]:
# model.fit(x_train,y_train)

In [120]:
# x.info()

In [121]:
# print(model.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,574237,500,1500,5,10]]))

In [122]:
# from sklearn.metrics import mean_absolute_percentage_error
# y_predict = model.predict(x_test)
# print(mean_absolute_percentage_error(y_test,y_predict))

In [123]:
from sklearn.ensemble import RandomForestRegressor

In [124]:
model = RandomForestRegressor()

In [125]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [126]:
print(model.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,574237,500,1500,5,10]]))

[349147.48]

C:\Users\vinay\anaconda3\envs\HPPS\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [127]:
from sklearn.metrics import mean_absolute_percentage_error
y_predict = model.predict(x_test)
print(mean_absolute_percentage_error(y_test,y_predict))

0.16900346586895007

In [128]:
import pickle
with open('hpc.pkl','wb') as file:
    pickle.dump(model,file)