In [152]:
import numpy as np
import pandas as pd

In [153]:
df = pd.read_csv('../hpc.csv')

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [155]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [156]:
df.tail()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
14615,6762830250,42734,2,1.5,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.0,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.0,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.0,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.0,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [157]:
df.shape

(14620, 23)

In [158]:
df = df.drop(['Lattitude','Longitude','Postal Code','Renovation Year'],axis=1)

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  living_area_renov                      14620 non-null  int64
 15  lot_area_renov                         14620 non-null  int64
 16  Number of schools nearby               14620 non-null  int64
 17  Distance from the airport              14620 non-null  int64
 18  Price                                  14620 non-null  int64
dtypes: float64(2), int64(17)
memory usage: 2.1 MB

In [160]:
df.sample(n=2)

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
13713,6762811776,42713,3,1.75,2150,4200,1.0,0,4,5,8,1140,1010,1960,2510,7500,3,68,950000
7692,6762823222,42606,3,1.00,1090,6125,1.0,0,0,4,6,790,300,1945,1050,6125,2,56,392000

In [161]:
 df['waterfront present'].nunique()

2

In [162]:
x= df.drop(['id','Price'],axis=1)

In [163]:
x.head()

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport
0,42491,5,2.50,3650,9050,2.0,0,4,5,10,3370,280,1921,2880,5400,2,58
1,42491,4,2.50,2920,4000,1.5,0,0,5,8,1910,1010,1909,2470,4000,2,51
2,42491,5,2.75,2910,9480,1.5,0,0,3,8,2910,0,1939,2940,6600,1,53
3,42491,4,2.50,3310,42998,2.0,0,0,3,9,3310,0,2001,3350,42847,3,76
4,42491,3,2.00,2710,4500,1.5,0,0,4,8,1880,830,1929,2060,4500,1,51

In [164]:
y = df['Price']

In [165]:
y.head()

0    2380000
1    1400000
2    1200000
3     838000
4     805000
Name: Price, dtype: int64

In [166]:
from sklearn.model_selection import train_test_split

In [167]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [168]:
x_train.shape

(10234, 17)

In [169]:
x_test.shape

(4386, 17)

In [170]:
y_train.shape

(10234,)

In [171]:
y_test.shape

(4386,)

In [172]:
from sklearn.tree import DecisionTreeClassifier

In [173]:
model = DecisionTreeClassifier()

In [174]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [175]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   14620 non-null  int64
 1   number of bedrooms                     14620 non-null  int64
 2   number of bathrooms                    14620 non-null  float64
 3   living area                            14620 non-null  int64
 4   lot area                               14620 non-null  int64
 5   number of floors                       14620 non-null  float64
 6   waterfront present                     14620 non-null  int64
 7   number of views                        14620 non-null  int64
 8   condition of the house                 14620 non-null  int64
 9   grade of the house                     14620 non-null  int64
 10  Area of the house(excluding basement)  14620 non-null  int64
 11  Area of the basement                   14620 non-null  int64
 12  Built Year                             14620 non-null  int64
 13  living_area_renov                      14620 non-null  int64
 14  lot_area_renov                         14620 non-null  int64
 15  Number of schools nearby               14620 non-null  int64
 16  Distance from the airport              14620 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 1.9 MB

In [144]:
print(model.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,122019,500,1500,5,10]]))

[379950]

C:\Users\vinay\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [145]:
from sklearn.metrics import mean_absolute_percentage_error
y_predict = model.predict(x_test)
print(mean_absolute_percentage_error(y_test,y_predict))

0.2840173860937022

In [146]:
from sklearn.ensemble import RandomForestRegressor

In [147]:
model_lr = RandomForestRegressor()

In [148]:
model_lr.fit(x_train,y_train)

RandomForestRegressor()

In [149]:
print(model_lr.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,122019,500,1500,5,10]]))

[366148.65]

C:\Users\vinay\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [151]:
from sklearn.metrics import mean_absolute_percentage_error
y_predict = model_lr.predict(x_test)
print(mean_absolute_percentage_error(y_test,y_predict))

0.1717232367323774