In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('hpc.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  living_area_renov                      14620 non-null  int64
 17  lot_area_renov                         14620 non-null  int64
 18  Number of schools nearby               14620 non-null  int64
 19  Distance from the airport              14620 non-null  int64
 20  Price                                  14620 non-null  int64
dtypes: float64(2), int64(19)
memory usage: 2.3 MB

In [8]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [14]:
df.tail()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
14615,6762830250,42734,2,1.5,1556,20000,1.0,0,0,4,...,1556,0,1957,0,122066,2250,17286,3,76,221700
14616,6762830339,42734,3,2.0,1680,7000,1.5,0,0,4,...,1680,0,1968,0,122072,1540,7480,3,59,219200
14617,6762830618,42734,2,1.0,1070,6120,1.0,0,0,3,...,1070,0,1962,0,122056,1130,6120,2,64,209000
14618,6762830709,42734,4,1.0,1030,6621,1.0,0,0,4,...,1030,0,1955,0,122042,1420,6631,3,54,205000
14619,6762831463,42734,3,1.0,900,4770,1.0,0,0,3,...,900,0,1969,2009,122018,900,3480,2,55,146000

In [13]:
df.shape

(14620, 21)

In [15]:
df = df.drop(['Lattitude','Longitude'],axis=1)

KeyError: "['Lattitude', 'Longitude'] not found in axis"

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  living_area_renov                      14620 non-null  int64
 17  lot_area_renov                         14620 non-null  int64
 18  Number of schools nearby               14620 non-null  int64
 19  Distance from the airport              14620 non-null  int64
 20  Price                                  14620 non-null  int64
dtypes: float64(2), int64(19)
memory usage: 2.3 MB

In [16]:
df.sample(n=2)

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
9057,6762823892,42629,3,2.00,1450,7300,1.5,0,0,5,...,1450,0,1955,0,122038,1660,9069,3,72,375000
1932,6762826635,42523,3,2.25,1540,5338,1.0,0,0,5,...,770,770,1954,0,122006,1680,6525,3,76,312000

In [17]:
 df['waterfront present'].nunique()

2

In [18]:
x= df.drop(['id','Price'],axis=1)

In [19]:
x.head()

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport
0,42491,5,2.50,3650,9050,2.0,0,4,5,10,3370,280,1921,0,122003,2880,5400,2,58
1,42491,4,2.50,2920,4000,1.5,0,0,5,8,1910,1010,1909,0,122004,2470,4000,2,51
2,42491,5,2.75,2910,9480,1.5,0,0,3,8,2910,0,1939,0,122004,2940,6600,1,53
3,42491,4,2.50,3310,42998,2.0,0,0,3,9,3310,0,2001,0,122005,3350,42847,3,76
4,42491,3,2.00,2710,4500,1.5,0,0,4,8,1880,830,1929,0,122006,2060,4500,1,51

In [20]:
y = df['Price']

In [21]:
y.head()

0    2380000
1    1400000
2    1200000
3     838000
4     805000
Name: Price, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [25]:
x_train.shape

(10234, 19)

In [26]:
x_test.shape

(4386, 19)

In [27]:
y_train.shape

(10234,)

In [28]:
y_test.shape

(4386,)

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
model = DecisionTreeClassifier()

In [32]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [33]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   14620 non-null  int64
 1   number of bedrooms                     14620 non-null  int64
 2   number of bathrooms                    14620 non-null  float64
 3   living area                            14620 non-null  int64
 4   lot area                               14620 non-null  int64
 5   number of floors                       14620 non-null  float64
 6   waterfront present                     14620 non-null  int64
 7   number of views                        14620 non-null  int64
 8   condition of the house                 14620 non-null  int64
 9   grade of the house                     14620 non-null  int64
 10  Area of the house(excluding basement)  14620 non-null  int64
 11  Area of the basement                   14620 non-null  int64
 12  Built Year                             14620 non-null  int64
 13  Renovation Year                        14620 non-null  int64
 14  Postal Code                            14620 non-null  int64
 15  living_area_renov                      14620 non-null  int64
 16  lot_area_renov                         14620 non-null  int64
 17  Number of schools nearby               14620 non-null  int64
 18  Distance from the airport              14620 non-null  int64
dtypes: float64(2), int64(17)
memory usage: 2.1 MB

In [34]:
print(model.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,574237,500,1500,5,10]]))

[340000]

C:\Users\vinay\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [39]:
from sklearn.metrics import mean_absolute_percentage_error
y_predict = model.predict(x_test)
print(mean_absolute_percentage_error(y_test,y_predict))

0.30049010490629036

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
model_lr = RandomForestRegressor()

In [50]:
model_lr.fit(x_train,y_train)

RandomForestRegressor()

In [51]:
print(model_lr.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,574237,500,1500,5,10]]))

[376816.]

C:\Users\vinay\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [53]:
from sklearn.metrics import mean_absolute_percentage_error
y_predict = model.predict(x_test)
print(mean_absolute_percentage_error(y_test,y_predict))

0.30049010490629036

In [55]:

from sklearn import svm
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_percentage_error
 
model_SVR = svm.SVR()
model_SVR.fit(x_train,y_train)
Y_pred = model_SVR.predict(x_train)
 
print(mean_absolute_percentage_error(y_train, Y_pred))

0.42574488073912914

In [56]:
print(model_SVR.predict([[43465,5,1,1000,5000,2,1,1,4,7,3000,2000,2010,2023,574237,500,1500,5,10]]))

[451145.25524914]

C:\Users\vinay\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(